Package: dev.adrian.covertinstrument
Name: CovertInstrument
Version: 0.1.0
Architecture: iphoneos-arm
Description: Prevent the device from locking
Maintainer: Adrian Castro
Author: Adrian Castro
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
